  html, body {
    margin: 0;
    cursor: url('curcle.png'), pointer;
  }

  ::selection {
    color: #b30000;
    background: rgb(237, 234, 220);
  }

  /* Scrollbar Width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Change the position of the scrollbar */
  #leftcol {
    direction: rtl;
    text-align: left;
  }
  
  #leftcol > * {
    direction: ltr;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(185, 185, 185); 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(156, 213, 241); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
  #leftcol {
    font-family: 'Aboreto';
    color: #211e1ede;
    font-size: 7.5em;
    width: 65%;
    height: 100vh;
    float: left;
    background: #faf8f4;
    background-size: 200%;
    overflow-x: hidden;
    overflow-wrap: break-word;
    hyphens: auto;
  }
  
  #rightcol {
    font-family: 'Tenor Sans';
    color: #211e1ede;
    font-size: 3.5em;
    text-align: center;
    width: 35%;
    height: 100vh;
    float: right;
    background: #faf8f4;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #floatclear {
    float: none;
  }
  
  .title {
    margin-left: 30px;
  }

  a {
    width: 4em;
    height: 1.25em;
    border: 5px dashed rgb(237, 234, 220);
    border-radius: 8px;
    text-align: center;
    padding: 60px;
    margin: 16px;
    color: #211e1ede;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    cursor: url('curcle2.png'), pointer;
    z-index: 1000;
  }

  a[href="https://codepen.io/Lan-Nguyen-the-heppy/pen/wvOmaKW"]:hover {
    background-image: url('s1a1.png') ;
    opacity: 0.8;
  }
  a[href="https://codepen.io/Lan-Nguyen-the-heppy/pen/yLwpwxY?editors=1100"]:hover {
    background-image: url('s1a2.png') ;
    opacity: 0.8;
  }
  a[href="https://lanynguyen.github.io/pearlmarket/index.html"]:hover {
    background-image: url('s1fp.png');
    opacity: 0.9;
  }
  a[href="https://lanynguyen.github.io/pearlmarket/index.html#webring"]:hover {
    background-image: url('s2a1.png');
    opacity: 0.9;
  }
  a[href="https://lanynguyen.github.io/s2a2/index.html"]:hover {
    background-image: url('s2a2.png');
    opacity: 0.9;
  }
  a[href="https://editor.p5js.org/nglan/full/_ChfgIWjo"]:hover {
    background-image: url('s2fp.png');
    opacity: 0.9;
  }
  a[href="https://lanynguyen.github.io/s3a1/index.html"]:hover {
    background-image: url('s3a1.png');
    opacity: 0.9;
  }
  a[href="https://wudora.github.io/s3a2/index.html"]:hover {
    background-image: url('s3a2.png');
    opacity: 0.9;
  }
  a[href="https://editor.p5js.org/nglan/full/MyKhdI0df"]:hover {
    background-image: url('s3fp.png');
    opacity: 0.9;
  }

  #spawnButton {
    position: absolute;
    bottom: 32px;
    left: 3%;
    padding: 16px 24px;
    font-size: 24px;
    font-family: 'Tenor Sans';
    background-color: rgb(36, 117, 157);;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #spawnButton:hover{
    background-color: #b30000;
    cursor: url('curcle3.png'), pointer;
  }
  .random-box {
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 2px solid #bab7afde;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    color: #211e1ede;
    cursor: url('curcle2.png'), pointer;
    overflow-y: auto;
  }

  @media screen and (max-width: 1000px) {
    #leftcol {
      width: 100%;
    }
    #rightcol {
      width: 100%;
      height: auto;
      overflow-y: hidden;
    }
  }