html {
    background-color: #414951ee;
}

h1 {
    color: white;
    text-align: center;
    margin: 40px;
}

#phonescreen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#musicToggle {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#display {
    position: absolute;
    z-index: -100;
}

body {
    font-family: Arial, sans-serif;
    size: 50px;
    color: aliceblue;
    margin: 20px;
}
.cursor {
    display: inline-block;
    margin-left: 5px;
    animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}