html {
    background-color: #F0EDE6;
}

div {
    display: block;
}

body {
    padding: 60px;
}

#firstpage {
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 20px;
}

p {
    position: absolute;   
}

div {
    display: block;
}

h1 {
    font-family: 'Berkshire Swash', 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 80px;
    color: #421809;
    margin: 0;
}

h2 {
    font-family: 'Arima', Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
    color: #713621;
    margin: 0;
}

h3 {
    font-family: 'Sacramento', Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    color: #713621;
}

h4 {
    font-family: 'Arima', Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #713621;
    margin-top: 40;
    display: inline-block;
}

#boxes {
    left: 50%;
    right: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.box1 {
    margin: 10px;
    background-position: center;
}

.box2 {
    margin: 10px;
    background-position: center;
    padding-left: 60;
}

.box3 {
    margin: 10px;
    background-position: center;
}

#pearlcount {
    display: inline-block;
    flex-wrap: wrap-reverse;
    align-items: center;
}

#pearls {
    position: relative;
    display: block;
    float: inline-end;
    flex-wrap: wrap;
}

a {
    color: rgb(86, 36, 44);
}

a:hover {
    color: gray;
}

#stores {
    left: 50%;
    right: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    margin-top: 60px;
}

.store{
    margin: 10px;
    background-position: center;
}

#items {
    display: table;
    float: left;
    margin: auto 0;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
}

.item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 150px;
    height: 150px;
    float: left;
}

#done {
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

#again {
    text-align: center;
}

#lastpage {
    margin-top: 100px;
}